{
    "description": "Local development version of the IAC component",
    "name": "iac",
    "version": "${VERSION}",
    "artifacts": [
        {
            "os": "darwin",
            "arch": "amd64"
        }
    ]
}